---
interface Props {
  title: string;
  tMeeting: string;
  ctaMeeting: string;
  tMedia: string;
  ctaMedia: string;
  copyright: string;
}
const { title, tMeeting, ctaMeeting, tMedia, ctaMedia, copyright } =
  Astro.props;

const socialLinks = [
  { name: "LinkedIn", url: "https://linkedin.com/in/pascalestavelot-dev" },
  { name: "GitHub", url: "https://github.com/Tolevats" },
  { name: "Bluesky", url: "https://bsky.app/profile/tolevats" },
];
const socialIcons: { [key: string]: { path: string; viewBox: string } } = {
  LinkedIn: {
    viewBox: "0 0 24 24",
    path: "M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6zM2 9h4v12H2zM4 6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z",
  },
  GitHub: {
    viewBox: "0 0 24 24",
    path: "M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.871 8.207 11.411.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.835 2.809 1.305 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1-.322 3.295 1.236.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.29-1.558 3.285-1.236 3.285-1.236.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576C20.565 21.879 24 17.309 24 12c0-6.627-5.373-12-12-12z",
  },
  Bluesky: {
    viewBox: "0 0 24 24",
    path: "M18.231,3.618c-2.312,1.736-4.785,5.107-5.948,7.244c-0.123,0.226-0.444,0.226-0.567,0	c-1.163-2.137-3.636-5.508-5.948-7.244C3.949,2.252,1,1.195,1,4.559c0,0.672,0.385,5.643,0.611,6.451	c0.606,2.169,2.454,3.089,4.437,3.195c0.19,0.01,0.222,0.261,0.043,0.324c-2.988,1.048-3.518,3.196-1.424,5.344	c3.826,3.894,5.814,0.647,6.733-1.514c0.224-0.525,0.977-0.525,1.2,0c0.92,2.161,2.907,5.408,6.733,1.514	c2.093-2.148,1.564-4.296-1.424-5.344c-0.179-0.063-0.146-0.313,0.043-0.324c1.983-0.106,3.83-1.026,4.437-3.195	C22.615,10.203,23,5.231,23,4.559C23,1.195,20.051,2.252,18.231,3.618z",
  },
};
---
<footer class="w-full mt-20 relative">
  <section id="connect" class="!py-0 mb-20">
    <div class="flex items-center space-x-4">
      <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold">{title}</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-14 animate-chat-pulse"
      >
        <path
          id="chat-bubble-left"
          d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z"
        ></path>
        <path
          id="chat-bubble-right"
          d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z"
        ></path>
      </svg>
    </div>
    <div class="flex flex-col md:flex-row my-0 space-x-16">
      <div id="schedule" class="md:w-1/2 mb-0">
        <h3 class="text-lg md:text-xl lg:text-2xl">{tMeeting}</h3>
        <p class="text-stone-600 dark:text-stone-400 mt-2 mx-auto">
          {ctaMeeting}
        </p>
        <div class="text-center">
          <a
          href="https://calendly.com/pascalestavelot-dev/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-stone-500 hover:text-purple-600 dark:hover:text-purple-500 transition-color"
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="inline size-20 lg:size-30"
          >
            <path
              d="M12.75 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM7.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM8.25 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM9.75 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM10.5 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM12.75 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM14.25 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 17.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 15.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM15 12.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM16.5 13.5a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z"
            ></path>
            <path
              fill-rule="evenodd"
              d="M6.75 2.25A.75.75 0 0 1 7.5 3v1.5h9V3A.75.75 0 0 1 18 3v1.5h.75a3 3 0 0 1 3 3v11.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V7.5a3 3 0 0 1 3-3H6V3a.75.75 0 0 1 .75-.75Zm13.5 9a1.5 1.5 0 0 0-1.5-1.5H5.25a1.5 1.5 0 0 0-1.5 1.5v7.5a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5v-7.5Z"
              clip-rule="evenodd"></path>
          </svg>
          </a>
        </div>
      </div>
      <div id="social-media" class="md:w-1/2">
        <h3 class="text-lg md:text-xl lg:text-2xl">{tMedia}</h3>
        <p class="text-stone-600 dark:text-stone-400 mt-2 mx-auto">
          {ctaMedia}
        </p>
        <div class="flex justify-center space-x-6">
          {
            socialLinks.map((link) => (
              <a
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
                class="text-stone-500 hover:text-purple-600 dark:hover:text-purple-500 transition-colors"
                aria-label={link.name}
              >
                {socialIcons[link.name] && (
                  <svg
                    class="w-14 h-14 lg:w-18 lg:h-18 mt-6 md:mt-12 lg:mt-16"
                    fill="currentColor"
                    viewBox={socialIcons[link.name].viewBox}
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d={socialIcons[link.name].path} />
                  </svg>
                )}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <div id="author-copyright" class="py-6 border-t border-green-500 dark:border-green-400  bg-stone-200/50 dark:bg-stone-800/50">
      <p class="text-xs md:text-sm !mb-0 text-stone-500 dark:text-stone-400 text-center" set:html={copyright}>
      </p>
  </div>
</footer>
